@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;600&display=swap');

.one{
    /* border:2px solid red; */
    width: 50vw;
    margin: auto;
    text-align: center;
    font-family: 'Gantari', sans-serif;
    /* height:1000px; */
    color:white;
    font-size: 10px;
}

.firstimg{
    /* border: 2px solid blue; */
    width: 50%;
    height: 20rem;
    margin: auto;

}

.firstimg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.one p{
    font-weight: 600;
    font-size: 2rem;
    /* border: 1px solid salmon; */
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.additemsone input{
    /* width:43%; */
    /* width: 100%; */
    width: 70%;
    text-align: center;
     /* height: auto; */
     font-size: large;
     font-family: 'Gantari', sans-serif;
     border-radius: 0.6rem;
     height: 100%;
     /* text-decoration: none; */
    
     
}

.additemsone input:hover{
    border:0.4rem solid red
}

.addItems{
    /* border:2px solid rosybrown; */
    /* margin-bottom: 5px; */
    height: 3rem;
    /* display: inline-block; */
    /* width: 350px; */
    /* background-color: white; */
    /* display: flex; */
    
}

.additemer{
    display: flex;
    height: 100%;
}

.additemsone{
    /* border: 2px solid yellow; */
    width: 70%;
    height: 100%;
   
}

.additemsone input{
    margin-left:5.9rem;
    /* margin-right: px; */
  }
.additemstwo{
    /* border: 2px solid greenyellow; */
    width: 30%;
    height:100%
   
}

.additemstwo i{
    cursor: pointer;
    margin-top: 0.6rem;
    margin-left:0rem
}

.additemstwo i:hover{
  color:white

}

.leston{
    /* border: 1px solid white; */
    height: 100%;
    width: 20%;
}


.showitems{
    margin-top:1.5rem;
    /* border:2px solid white */
}


.showbutton{
    padding:1rem 2rem;
    /* background-color: white; */
    text-align: center;
    margin: auto;
    font-size: large;
    font-family: 'Gantari', sans-serif;
    border-radius: 1.5rem;
    cursor:pointer
}

.showbutton:hover{
    background-color: coral;

}

.showitemsone{
    /* border:4px solid yellow; */
    margin-top:1.5rem;
  
    /* align-items: center; */
    /* height: 50px; */
}


.paraitemone{
    /* border: 3px solid white; */
    width:70%;
    display: flex;
    /* align-items: center; */
    margin:auto;
    background-color: rgb(175, 61, 228);
    border-radius: 0.8rem;
    /* height:3rem */
    
    
}

.paraitemone:hover{
    background-color: white;
    color:black;
    
}
.paraitemone p{
    /* border: 1px solid greenyellow; */
    margin: 0;
    /* font-size: -0.1rem; */
    width: 70%;
    /* text-align: center; */
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-top: 0.4rem;
}

.logos{
    /* border:1px solid yellow; */
    width: 30%;

}

/* .logos i{
    padding: 0.7rem;
    padding-right: 1.5rem;
    cursor:pointer;
    
} */

/* .logos .btnone{
    border:1px solid yellow
} */
.logos .btnone:hover{
    color: green;
}
.logos .btntwo:hover{
    color:red;
}


.loger{
    display: flex;
    height: 100%;
}
.onner{
    /* border: 1px solid red; */
    height: 100%;
    width: 50%;
    
}
.onner i{
    /* border: 1px solid blue; */
    /* margin: 0.7rem; */
    margin:1em 0.5em
}
.twoer{
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
}

.twoer i{
    /* border: 1px solid blue; */
    /* margin: 0.7rem; */
    margin:1em 0.5em
}


/* ##################### */

@media (max-width:400px){
    .one{
            /* font-size: 5px; */
            width: 100vw;
            
    }
    .additemsone input{
        margin: 0;
    }

    .one .firstimg {
        width: 100%;
    }
   
}

/* @media (max-width:400px){ */
    /* .additemsone{
        border: 5px soild red;
    }
    .additemsone input{
        margin: 0;
        /* margin-right:15rem; */
        /* width: 10rem; */
    /* }
    .additemstwo .leston i{
        margin: 0;
        color:black;
        border:2px solid red;
        
    } */ 
/* } */